body { 
  background-color: #a2d454;
  font-family: monospace;
  padding-right: 5%;
}

ul {
  list-style-type: none;
}

/* text color */
.devoured { 
  color: black;
}

/* text color */
.noteaten {
  color:black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-style: solid;
  border-color: #8a481b;
  background-color: #fccf6b;
}

.devoured {
  flex-grow: 1;
background: #919191;
padding: 0.5em 2em 1.7em 2em;
/* margin: 1em 0 1em 1em; */
}

.not-devoured {
  flex-grow: 1;
padding: 0.5em 2em 1.7em 2em;
background: #919191;
/* margin: 1em 1em 1em 0;  */
}

.noteated {
  padding: 0.5em 2em 1.7em 2em;
}

.burgers-container {
  display: flex;
  margin-right: 3%;
  border-color: #8a481b;
  border-style: solid;
}

.header1 {
  text-align: center;
  font-size: 45px;
}

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-top: 5px;
}

button {
  font-family: monospace;
  padding: 3px 5px 5px 3px;
}
.add-a-burger-container {
  text-align: center;
}