body {
  background-color: orange;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

.burgerContainer {
  width: 50%;
  float: left;
}

.change-devoured {
  float: right;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.notDevouredBurger {
  background-color: white;
  width: 30%;
  height: 75px;
  float: right;
}

.devouredBurger {
  background-color: white;
  width: 30%;
  height: 75px;
  margin-bottom: 1%;
}

.wrapper {
  width: 100%;
  text-align: center;
  padding: 1%;
  float: right;
}


.burgerHeader,
.addBurger {
  text-align: center;
  align-content: center;
  color: red;
}

.addBurger {
  border-top: 3px solid orangered;
  padding-top: 1%;
  margin-top: 1%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

textarea {
  width: 30%;
  height: 75px;
}